


<div id="header" class = "container">
  <a href="#">
    <h2>Too Clever By Half</h2>
  </a>
  
  <ul class = "displayboard">
    <li class="gutters-d gutters-t span-2-t span-2-d">
      <%=link_to("Projects", projects_path)%>
    </li>

    <li class="gutters-d gutters-t span-2-t span-2-d">
      <a href="/pages/cv">
        Curricula Vitae
      </a>
    </li>

    <li class="gutters-d gutters-t span-2-t span-2-d">
      <a href="/pages/contact">
        Contact and Social Media
      </a>
    </li>

    <li class="gutters-d gutters-t span-2-t span-2-d">
      <a href="/articles">
        Blog Posts
      </a>
    </li>

    <li class="gutters-d gutters-t span-2-t span-2-d">
      <a href="/collaborators">
        Collaborators
      </a>
    </li>

  </ul>
</div>
<div id="stage" class = "container">
  <div id="start_point">
    <h3>Stay a while and listen!</h3>
    <p>
      Welcome to the personal portfolio for Peter Haugen, full stack developer, itinerant physicist and semi-periodic humorist. Visiting the Projects page you'll see an assortment of explorations in mainly physics and math but don't be surprised if more finds it's way in there.
    </p>

    <p>
      My CV and social network information is also available in the top bar. For the aggressively curious I have a aperiodically updated blog where I jot down long form thoughts that might need to be aired out in the light of day.
    </p>

    <p>
      Finally, maybe I'm not entirely what you had in mind? I've made a number of impressive collaborators over the years and maybe one of them will pique your interest.
    </p>
  </div>
</div>
<div id="footer" class = "container">
  <div id="footer_links">
    Some links
  </div>
  <div id="footer_signoff">
    Have you tried using logarithms?
  </div>
   
</div>
<!-- Projects directory template -->
<script id="projectsIndex" type="text/x-handlebars-template">
  <div id="projects_list" class = "displayboard">
  {{#each projects}}
    <div id={{file_name}} class = "span-5-t span-3-d">
      <a href ="/pages/{{file_name}}">
        <h3>{{title}}</h3>
      </a>
      <p>
        {{description}}
      </p>
    </div>
  {{/each}}
  </div>
</script>
<!-- end projects directory -->


<!--blog directory template-->
<script id="articlesIndex" type="text/x-handlebars-template">
    <div id="articles_list">
  {{#each articles}}
    <div id="article_{{id}}_blurb}">
      <a href ="/articles/{{id}}" class="article">
        <h3>{{title}}</h3>
        <h4>{{subtitle}}</h4>
      </a>
      <div class="published_on">
        {{published_on}}
      </div>
      <div class="content">
        <p>
          {{#each lead}}
            {{this}} <br>
          {{/each}}
        </p>
      </div>
    </div>
  {{/each}}
  </div>
</script>
<!--end  -->

<!--article template-->
<script id="articlesShow" type="text/x-handlebars-template">
  <div id="article_{{id}}_main">
    <a href ="/articles/{{id}}" >
      <h3>{{title}}</h3>
      <h4>{{subtitle}}</h4>
    </a>
    <div class="published_on">
      {{published_on}}
    </div>
    <div class="content">
      {{#each paragraphs}}
        <p>
        {{#each this}} 
          {{this}}<br>
        {{/each}}
        </p>
      {{/each}}
    </div>
  </div>
</script>
<!--end  -->

<!--collaborators template-->
<script id="collaboratorsIndex" type="text/x-handlebars-template">
  <div id="collaborators_list" >
    <ul class = "displayboard">
    {{#each collabs}}
      <li class = "span-5-t span-3-d">
      <div id="{{name}}" >
        <a href ="{{url}}">
          <h3>{{name}}</h3>
        </a>
        <p class="body">
          {{description}}
        </p>

        <div class="footer">
          <a href ="mailto:{{email}}"> email </a>
        </div>
      </div>
      </li>
    {{/each}}
    </ul>
  </div>
</script>
<!--end  -->

<!--CV template-->
<script id="cvIndex" type="text/x-handlebars-template">
  <div id="cv_frame">
    <object id="resume" data="pdf/Peter_Haugen_CV.pdf" type="application/pdf" height="1066px" width="830px"></object>
  </div>
</script>
<!--end  -->

<!--contact and social media   template-->
<script id="contactIndex" type="text/x-handlebars-template">
  <div id="contact_frame">
    <ul>
      <li>
        <a href="mailto:phaugen@gmail.com">
          Email
        </a>
      </li>

      <li>
        <a href="https://github.com/wolfram74">
          Github
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/peterthaugen">
          LinkedIn
        </a>
      </li>
      
      <li>
        <a href="https://twitter.com/nomadicphysics">
          Twitter
        </a>
      </li>
      
      <li>
        <a href="https://www.facebook.com/peter.haugen.9">
          Facebook
        </a>
      </li>
      
    </ul>
  </div>
</script>
<!--end  -->
