


<div id="header">
  <h2>Too Clever By Half</h2>
  <ul>
    <li><%=link_to("Projects", projects_path)%></li>
    <li>Curricula Vitae</li>
    <li>Contact and Social Media</li>
    <li>Blog Posts</li>
    <li>Collaborators</li>
  </ul>
</div>
<div id="stage">
  <div id="startpoint">
    <h3>Stay a while and listen!</h3>
    <p>
      Welcome to the personal portfolio for Peter Haugen, full stack developer, itinerant physicist and semi-periodic humorist. Visiting the Projects page you'll see an assortment of explorations in mainly physics and math but don't be surprised if more finds it's way in there. <%= link_to("Mandelbrot", page_path("mandelbrot")) %>
    </p>

    <p>
      My CV and social network information is also available in the top bar. For the aggressively curious I have a aperiodically updated blog where I jot down long form thoughts that might need to be aired out in the light of day.
    </p>

    <p>
      Finally, maybe I'm not entirely what you had in mind? I've made a number of impressive collaborators over the years and maybe one of them will pique your interest.
    </p>
  </div>
</div>
<div id="footer">
  <div id="footer_links">
    Some links
  </div>
  <div id="footer_signoff">
    The time is now: <%= Time.now %>
  </div>
   
</div>
<!-- Projects directory template -->
<script id="projectsIndex" type="text/x-handlebars-template">
  <div id="projects_list">
  {{#each projects}}
    <div id={{file_name}}>
      <a href ="/pages/{{file_name}}">
        <h3>{{title}}</h3>
      </a>
      <p>
        {{description}}
      </p>
    </div>
  {{/each}}
  </div>
</script
<!-- end projects directory -->